<!doctype html>
<html ng-app="projectsApp">
  <head>
    <title>projects</title>

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/mainCtrl.js"></script>

    <div ng-controller="mainController as main">
        <button ng-click="main.addBookmark()">Add</button>
        <ul>
            <li ng-repeat="bookmark in main.bookmarks">
                {{bookmark.id}}<br/>
                {{bookmark.title}}<br/>
                {{bookmark.creationDate}}<br/>
                <button ng-click="main.removeBookmark($index)">Delete</button>
            </li>
        </ul>
    </div>
  </body>
</html>
