<!doctype html>
<html ng-app="projectsApp">
  <head>
    <title>projects</title>

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/myCtrl.js"></script>

    <div ng-controller="myCtrl">
    data2:{{data}}
    </div>
  </body>
</html>
