<!doctype html>
<html ng-app="projectsApp">
    <head>
        <title>Bookmarks</title>

        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/components/bookmarks-list/bookmarks-list.js"></script>
        <script src="scripts/components/bookmark/bookmark.js"></script>
        <script src="scripts/components/login/login.js"></script>
        <script src="scripts/components/signup/signup.js"></script>
        <script src="scripts/services/bookmarksService.js"></script>

        <ui-view></ui-view>
    </body>
</html>
