<div>
    <section class="filters">
        <span>Search:</span>
        <input type="text" ng-model="searchText.title" placeholder="type here.."/>
        <span>Order By:</span>
        <select ng-model="$ctrl.predicate">
            <option value="creationDate">By Date</option>
            <option value="title">By Title</option>
        </select>
    </section>
    <button ng-click="$ctrl.addBookmark()">Add</button>
    <bookmark ng-repeat="bookmark in $ctrl.bookmarks | filter:searchText | orderBy:$ctrl.predicate:$ctrl.reverse"
              bookmark="bookmark" on-bookmark-remove="$ctrl.removeBookmark(id)"></bookmark>
</div>
