<div>
    <h1>Bookmark List</h1>
    <div ng-show="$ctrl.loading">Loading...</div>
    <div ng-show="!$ctrl.loading">
        <section class="filters form-inline">
            <div class="form-group">
                <span>Search:</span>
                <input class="form-control" type="text" ng-model="searchText.title" placeholder="type here.."/>
            </div>
            <div class="form-group">
                <span>Order By:</span>
                <select class="form-control" ng-model="$ctrl.predicate">
                    <option value="creationDate">By Date</option>
                    <option value="title">By Title</option>
                </select>
            </div>
        </section>
        <div>
            <button class="btn btn-primary" ng-click="$ctrl.addBookmark()">Add</button>
        </div>
        <bookmark ng-click="$ctrl.editBookmark(bookmark)"
                  ng-repeat="bookmark in $ctrl.bookmarks | filter:searchText | orderBy:$ctrl.predicate:$ctrl.reverse"
                  bookmark="bookmark" on-bookmark-remove="$ctrl.removeBookmark(bookmark)"></bookmark>
    </div>
</div>
