<div class="modal-header">
    <h3 class="modal-title">Edit Bookmark</h3>
</div>
<div class="modal-body form-inline">
    <div class="form-group"><label for="title-edit">Title:</label>
        <input type="text" id="title-edit" class="form-control" ng-model="bookmarkEditCtrl.bookmark.title"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="bookmarkEditCtrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="bookmarkEditCtrl.cancel()">Cancel</button>
</div>
