.container(ng-click="$ctrl.onClick()")
  .hero-unit
    %h1
      {{'general.YO' | translate}}
      %i.logo-on-header.projects-svg-font-icons-wix-logo
    %div
      This is {{$ctrl.name}} ({{$ctrl.clicks}})
    %h3 Enjoy coding! - Yeoman
